
@include media-breakpoint(basic) {
    .yellowButton {
        background-color: $theme1;
        border: 2px solid $theme1;
        // min-width: 324px;
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: lighten($black, 0.7);
        font-size: 16px;
        font-weight: 500;
        border-radius: 2px;
        font-family: outfit;

        &:hover {
            color: lighten($black, 20);
            border: 2px solid $theme1;
            background-color: transparent;
        }
    }
    .smallYellowBtn {
        // width: 100%;
        padding: 4px 11px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $theme1;
        border-radius: 2px;
        border-radius: 2px;
        color: lighten($color: $black, $amount: 0.1);
        margin-left: 23px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        font-family: outfit;
    }
    .cancelButton {
        background-color: lighten($color: $danger, $amount: 0.7);
        border: 2px solid lighten($color: $danger, $amount: 0.7);
        border-radius: 2px;
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 14px;
        font-family: outfit;
        &:hover {
            border: 2px solid lighten($color: $danger, $amount: 0.7);
            color: lighten($color: $danger, $amount: 0.7);
            background-color: transparent;
        }
    }
    .startButton {
        background-color: lighten($color: $green, $amount: 0.7);
        border-radius: 2px;
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-family: outfit;
        font-size: 14px;

        &:hover {
            color: lighten($color: $green, $amount: 0.7);
            border: 2px solid lighten($color: $green, $amount: 0.7);
            background-color: transparent;
        }
    }
}


// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {
}
@include media-breakpoint-up(xxl) {
}


@include media-breakpoint-down(xxl) {
}
@include media-breakpoint-down(xl) {
}
@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(md) {
}
@include media-breakpoint-down(sm) {
}

[data-bs-theme=dark] {
    @include dark-media-breakpoint(basic) {
    }
    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include dark-media-breakpoint-up(sm) {
    }
    @include dark-media-breakpoint-up(md) {
    }
    @include dark-media-breakpoint-up(lg) {
    }
    @include dark-media-breakpoint-up(xl) {
    }
    @include dark-media-breakpoint-up(xxl) {
    }


    @include dark-media-breakpoint-down(xxl) {
    }
    @include dark-media-breakpoint-down(xl) {
    }
    @include dark-media-breakpoint-down(lg) {
    }
    @include dark-media-breakpoint-down(md) {
    }
    @include dark-media-breakpoint-down(sm) {
    }
}